HELP.md
.gradle
/build
/bin

# --------------#
# Eclipse		#
# --------------#

.apt_generated
.classpath
.factorypath
.project
.settings

# --------------#
# IDEA			#
# --------------#
.idea
*.iws
*.iml
*.ipr
/out/

# --------------#
# Gradle		#
# --------------#

/gradle/
/gradlew
/gradlew.bat
